USE [master]
GO
/****** Object:  Database [SCHOOL_DB]    Script Date: 2/26/2018 4:14:55 PM ******/
CREATE DATABASE [SCHOOL_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SCHOOL_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SCHOOL_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SCHOOL_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SCHOOL_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCHOOL_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SCHOOL_DB]
GO
USE [SCHOOL_DB]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 2/26/2018 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[pkSchoolsKey] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[pkSchoolsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
